/* your custom css */
body {
    font-family: 'Open Sans','Helvetica Neue',Arial,'Helvetica',SansSerif,sans-serif;
}

.roundedImage {
    border-radius: 50%;
}

.smallPadding {
    padding-top: 7px;
    padding-bottom: 7px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
