/* your custom css */

footer .sitemap {
  margin-bottom: 2em;
}

a, h1, h2, h3, h4 {
  color: #4d9078;
}

.container .wrapper h2 {
  color: #4d9078;
}

.container .wrapper h3 {
  color: #4d9078;
}

.container .wrapper h4 {
  color: #4d9078;
}

input#search_input_react {
  background-color: slategray;
}

body {
  background: white;
}

.roundedImageCorner img {
  border-radius: 5%;
}

.mainContainer {
  font-size: 16px;
}

.overview {
  background: #f9f9f9;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 500;
}

.projectTitle {
  font-size: 460%;
}


.roundedImage {
    border-radius: 50%;
}

.smallPadding {
    padding-top: 7px;
    padding-bottom: 7px;
}

.team .imageAlignLeft .blockImage {
    margin-right: 10px;
}

.team .imageAlignSide .blockImage {
    max-width: 80px;
    padding: 20px 0;
}

.team .blockContent h2 {
    margin-top: 0px;
    padding-bottom: 5px;
}

.team .blockContent p {
    line-height: 1.3;
}

.roundedImage img {
    border-radius: 50%;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
